div.competitions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    label {
        margin: 0 10px;
    }
    .competitionArea {
        width: 30%;
        height: 400px;
        background-color: #CCC;
        .competSelectArea {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .competDetailArea {
            width: 100%;
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;   
        }
    }
}
.roundDesc {
    width: 700px;
    margin: 0 auto;
}
.formBtns {
    padding-top: 20px;
    text-align: center;
    .formBtn {
        width: 80px;
        height: 32px;
        margin: 0 10px;
    }
}
.formationArea.update {
    .formation {
        width: 866px;
        margin: 0 auto;
        padding: 40px;
        background-color: #CCC;
        td {
            width: 110px;
            height: 90px;
            text-align: center;
            &:not(.null){
                background-color: #fff;
            }
            .lineupInputs {
                width: 100px;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                p {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    label {
                        width: 30px;
                    }
                    span {
                        display: flex;
                        width: 70px;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .b_noInput {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }
            .subInputs {
                width: 100px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                label {
                    width: 30px;
                }
                span {
                    width: 70px;
                    display: flex;
                    justify-content: space-evenly;
                    .subTimeInput {
                        width: 30px;
                        height: 20px;
                        text-align: center;
                    }
                    .subB_noInput {
                        width: 30px;
                        height: 20px;
                        text-align: center;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }    
                    }
                }
            }
        }
    }
}