.MatchesPage_KL1 {
    position: relative;
    .chooseR {
        position: absolute;
        top: 0%;
        right: 0%;
        // margin: 20px;
        height: 40px;
        display: flex;
        // justify-content: center;
        align-items: flex-end;
        color: var(--yellow-color-td);
        select {
            border: none;
            border-bottom: 1px solid var(--yellow-color);
            padding: 0 8px;
            color: var(--yellow-color-td);
            // text-align: center;
        }
        input[type="submit"] {
            background-color: var(--yellow-color-td);
            color: #fff;
            font-size: 12px;
            width: 40px;
            height: 24px;
            margin: 0 4px;
            outline: none;
            border: none;
            border-radius: 12px;
            cursor: pointer;
            &:hover {
                background-color: var(--yellow-color);
            }
            &:active {
                background-color: var(--yellow-color-td);
            }
        }
    }
    .roundNav {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
        li.roundNum {
            width: 20px;
            height: 20px;
            margin: 0 2px;
            border-radius: 10px;
            text-align: center;
            &.win {
                background-color: green;
                color: #fff;
            }
            &.draw {
                background-color: var(--yellow-color-td);
                color: #fff;
            }
            &.lose {
                background-color: red;
                color: #fff;
            }
            &.preMatch {
                background-color: #ccc;
            }
        }

    }
    .matchSituation {
        .matchTitle {
            font-size: 18px;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            .h_a {
                width: 60px;
                height: 24px;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                margin-right: 10px;
                border-radius: 8px;
                &.home {
                    background-color: var(--blue-color);
                    color: var(--yellow-color);
                }
                &.away {
                    background-color: #D5DBE6;
                    color: var(--blue-color);
                }
            }
        }
        .matchDetail {
            display: flex;
            justify-content: space-between;
            position: relative;
            .sectionTitle {
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                color: #fff;
                padding: 0 15px;
            }
            // Starting XI 섹션
            .formationArea {
                width: 500px;
                height: 800px;
                .sectionTitle {
                    background-color: var(--blue-color);
                }
                .pitch {
                    width: 100%;
                    height: calc(100% - 30px);
                    background-image: url(./images/Football_field.svg.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .formation {
                        // width: 700px;
                        // height: 900px;
                        // border-spacing: 10px;
                        border: transparent;
                        padding: 35px;
                        width: 100%;
                        height: 100%;
                        tr {
                            td {
                                width: calc(100% / 7);
                                height: calc(100% / 6);
                                .positions {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    height: 100%;
                                    .startMem {
                                        height: 80px;
                                        div.uniform {
                                            width: 55px;
                                            height: 55px;
                                            margin: 0 auto;
                                            background-image: url(./images/uniform_fp.png);
                                            position: relative;
                                            .plyrNum {
                                                font-size: 16px;
                                                top: 30%;
                                                color: #fff;
                                            }
                                            &.forGk {
                                                background-image: url(./images/uniform_gk.png);
                                                >p { color: #000;}
                                            }
                                            .captain {
                                                display: block;
                                                width: 18px;
                                                height: 12px;
                                                position: absolute;
                                                bottom: 2px;
                                                right: 4px;
                                                background-image: url(./images/forCap.png);
                                                background-size: contain;
                                            }
                                            .u22plyr {
                                                top: 4px;
                                                right: -8px;
                                            }
                                        }
                                    }
                                    .subMem {
                                        height: 30px;
                                        a {
                                            div.nameTag {
                                                position: relative;
                                                .subIcon {
                                                    width: 25px;
                                                    position: absolute;
                                                    left: -29px;
                                                    top: -4px;
                                                    z-index: 1;
                                                }
                                                .subTime {
                                                    font-size: 12px;
                                                    color: #eee;
                                                    font-weight: bold;
                                                    position: absolute;
                                                    left: -23px;
                                                    top: 0px;
                                                    z-index: 2;
                                                }
                                                .u22plyr {
                                                    top: -5px;
                                                    right: -15px;
                                                }
                                            }
                                        }
                                    }
                                    span.u22plyr {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 25px;
                                        height: 12px;
                                        // border: 1px solid #fff;
                                        border-radius: 4px;
                                        background-color: #ff4800;
                                        color: #fff;
                                        font-size: 10px;
                                        font-family: 'MalgunGothic';
                                        line-height: 10px;
                                        position: absolute;
                                        z-index: 1;
                                    }
                                    .luPlyrName {
                                        text-align: center;
                                        background-color: var(--blue-color-td);
                                        color: #fff;
                                        font-size: 11px;
                                        font-weight: bold;
                                        font-family: 'MalgunGothic';
                                        top: 110%;
                                        &.sub {
                                            background-color: var(--yellow-color-td);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // MatchResult 섹션
            .matchResultArea {
                width: 448px;
                // background-color: #eee;
                .sectionTitle {
                    color: #fff;
                    background-color: black;
                }
                .videoArea {
                    width: 448px;
                    height: 252px;
                }
                .matchResult {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 200px;
                    .uhfc {
                        width: 50%;
                        height: 100%;
                        background-color: #003F98;
                    }
                    .againstTeam {
                        width: 50%;
                        height: 100%;
                    }
                    .mrLeft {
                        position: relative;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border-radius: 0 20px 20px 0;
                        .score {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 10px;
                        }
                    }
                    .mrRight {
                        position: relative;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        border-radius: 20px 0 0 20px;
                        .score {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 10px;
                        }
                    }
                    .teamArea {
                        width: 155px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .teamLogo {
                            height: 100px;
                            margin-bottom: 10px;
                        }
                        .teamName {
                            font-size: 20px;
                            text-align: center;
                            color: #fff;
                            font-family: var(--uniform-font);
                        }
                    }
                    .score {
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        font-family: var(--digital-font);
                        font-size: 40px;
                        border-radius: 8px;
                        text-align: center;
                        background-color: #ccc;
                    }
                }
                .scoreRecordArea {
                    >ul {
                        li {
                            height: 50px;
                            position: relative;
                            display: flex;
                            align-items: center;
                            padding: 0 20px;
                            margin: 2px 0;
                            background-color: #eee;
                            font-size: 12px;
                            &.gf, &.ga { color: #fff; }
                            &.atHome {
                                justify-content: flex-start;
                            }
                            &.atAway {
                                justify-content: flex-end;
                            }
                            &.gf {
                                &.atHome {
                                    background: linear-gradient(to right, #003F98 45%, transparent);
                                }
                                &.atAway {
                                    background: linear-gradient(to left, #003F98 45%, transparent);
                                }
                            }
                            a {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                span {
                                    margin: 0 2px;
                                }
                                .isPK {
                                    background: url(./images/isPK.png);
                                }
                                .assist {
                                    font-size: 10px;
                                    color: #eee;
                                }
                                .isOG {
                                    font-size: 10px;
                                    color: #ff4848;
                                }
                            }
                            .recordedTime {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 50px;
                                height: 30px;
                                background-color: #ccc;
                                color: #333;
                                border-radius: 10px;
                                font-family: var(--digital-font);
                            }
                            span.icons {
                                display: block;
                                width: 15px;
                                height: 15px;
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center center;
                            }
                            .yellowcard { background: url(./images/yellowcard.png); }
                            .secondYellowcard { background: url(./images/secondyellow.png); }
                            .redcard { background: url(./images/redcard.png); }
                            .substitution { background: url(./images/sub_icon.jpg); margin: 0 4px;}
                            .subOut { color: #888; font-size: 10px; }
                        }
                    }
                }
            }
            // LeagueTable 섹션
            .leagueTableArea {
                width: 152px;
                height: 800px;
                .sectionTitle {
                    background-color: var(--yellow-color);
                }
                .leagueTable {
                    width: 100%;
                    li {
                        width: 100%;
                        height: calc(770px / 12);
                        display: flex;
                        // justify-content: space-between;
                        align-items: center;
                        padding: 5px 10px;
                        // border: 5px solid transparent;
                        .teamLogo {
                            width: 50%;
                            height: 50px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                height: 80%;
                            }
                        }
                        .pointsArea {
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #eee;
                            .points {
                                font-size: 24px;
                                font-family: var(--uniform-font);
                            }
                        }
                        &.uhfc {
                            position: relative;
                            &::after {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: block;
                                width: 100%;
                                height: 100%;
                                border: 5px solid var(--yellow-color);
                                box-sizing: border-box;
                            }
                        }
                    }
                }
            }
        }
    }
}