#mainPage {
    width: 100%;
    height: 100vh;
    background-image: url(http://localhost:3000/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}