@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 메인 로고 폰트 */
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 유니폼 폰트 */
@font-face {
  font-family: 'Vitro_core';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 계산기 폰트 */
@font-face {
  font-family: 'LAB디지털';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
  --blue-color: #043db7;
  --yellow-color: #feb913;
  --blue-color-td: hsl(221, 90%, 40%);
  --yellow-color-td: hsl(42, 90%, 40%);
  --red-color-td: hsl(0, 90%, 47%);
  --yellow-outline:
    -1px -1px 0 var(--yellow-color),
    1px -1px 0 var(--yellow-color),
    -1px 1px 0 var(--yellow-color),
    1px 1px 0 var(--yellow-color);
  --blue-outline:
    -1px -1px 0 var(--blue-color),
    1px -1px 0 var(--blue-color),
    -1px 1px 0 var(--blue-color),
    1px 1px 0 var(--blue-color);
  --main-logo-font: 'DungGeunMo';
  --digital-font: 'LAB디지털';
  --uniform-font: 'Vitro_core';
}
* { padding: 0; margin: 0; box-sizing: border-box; }
a { text-decoration: none; color: inherit; }
li { list-style: none; }
body {
  font-family: "RIDIBatang", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
.innerCon {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s;
  text-shadow: var(--yellow-outline);
}
header.bg {
  background-color: #fff;
  border-bottom: 0.1px solid #ccc;
}
header>div {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-family: 'DungGeunMo';
  font-size: 35px;
}
#mainTitle {
  color: var(--blue-color);
}
#mainTitle strong {
  color: var(--yellow-color);
  text-shadow: var(--blue-outline);
}
#mainTitle:hover {
  color: var(--yellow-color);
  text-shadow: var(--blue-outline);
}
#mainTitle:hover strong {
  color: var(--blue-color);
  text-shadow: var(--yellow-outline);
}
.topMenu {
  display: flex;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.topMenu li {
  padding: 0 10px;
  transition: 0.4s;
  color: var(--yellow-color);
  text-shadow: var(--blue-outline);
}
.topMenu li:hover {
  transform: scale(1.1);
  color: var(--blue-color);
  text-shadow: var(--yellow-outline);
}

/* 컨텐트 영역 */
.content {
  width: 100%;
  min-height: calc(100vh - 200px);
}
.content>div{
  padding-top: 100px;
  padding-bottom: 40px;
}
.contentArea {
  width: 70%;
  min-width: 1100px;
  margin: 0 auto;
}
.contentTitle {
  text-align: center;
  width: 500px;
  margin: 20px auto;
  background-color: var(--blue-color);
  color: #fff;
  height: 40px;
  line-height: 40px;
  transform: skew(-15deg);
}
.subMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subMenu li {
  padding: 0 4px;
  margin: 0 2px;
  min-width: 60px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 13px;
  border: 1px solid var(--yellow-color);
  border-radius: 8px;
  cursor: pointer;
}
.subMenu li:hover, .subMenu li.on {
  background-color: var(--blue-color);
  color: #fff;
}
.deptTitle {
  text-align: center;
  width: 300px;
  margin: 16px auto;
  background-color: var(--yellow-color);
  color: #fff;
  height: 40px;
  line-height: 40px;
  transform: skew(-15deg);
}
.miniMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.miniMenu li {
  padding: 0 4px;
  margin: 0 2px;
  /* min-width: 50px; */
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
  border: 1px solid var(--yellow-color);
  border-radius: 6px;
  cursor: pointer;
}
.miniMenu li:hover {
  background-color: var(--yellow-color);
  color: #fff;
}
/* /컨텐트 영역 */

footer {
  width: 100%;
  background-color: #444;
  color: #fff;
}
footer>div {
  height: 200px;
  padding-top: 50px;
  text-align: center;
}
footer .contact a {
  margin: 0 10px;
  transition: 0.4s;
  font-family: 'Ubuntu', sans-serif;
}
footer .contact a:hover {
  color: var(--yellow-color);
}
.forAdmin {
  font-family: 'DungGeunMo';
}