.playerListUl {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;    
}
.uniform {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;
    font-family: var(--uniform-font);
    transition: 0.5s;
    .plyrName {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        font-size: 20px;
    }
    .plyrNum {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translateX(-50%);
        font-size: 64px;
    }
    &.forGk {
        background-image: url(./images/uniform_gk.png);
        &:hover {
            background-image: url(./images/uniform_gk_hov.png);
        }
        >p {
            color: #000;
        }
    }
    &.forFp {
        &:hover {
            background-image: url(./images/uniform_fp_hov.png);
        }
        background-image: url(./images/uniform_fp.png);
        >p {
            color: #fff;
        }
    }
}

// DetailPlayer
.playerDetail {
    position: relative;
    .backToList {
        position: absolute;
        top: 0px;
        left: 0px;
        font-family: 'RIDIBatang';
    }
    .deptTitle {
        position: relative;
        // color: var(--blue-color);
        .status {
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translate(-50%, -50%);
            display: flex;
            width: 70px;
            height: 30px;
            justify-content: center;
            align-items: center;
            img {
                transform: skew(15deg);
                width: 30px;
                height: 30px;
                margin: 0 4px;
            }
            .u22 {
                display: block;
                width: 30px;
                height: 20px;
                transform: skew(15deg);
                line-height: 20px;
                font-size: 10px;
                background-color: #ff4800;
                border-radius: 10px;
                color: #fff;
                font-family: 'san-serif';
            }
            .captain {
                display: block;
                width: 40px;
                height: 20px;
                transform: skew(15deg);
                line-height: 20px;
                font-size: 10px;
                background-color: var(--blue-color);
                border-radius: 10px;
                color: #fff;
                font-family: 'san-serif';
            }

        }
    }
}
.playerInfoArea {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .picArea {
        width: 550px;
        height: 550px;
        img {
            height: 100%;
        }
    }
    .descArea {
        width: 550px;
        height: 550px;
        table.MuiTable-root {
            height: 100%;
            width: 100%;
            .MuiTableBody-root {
                .MuiTableRow-root {
                    .dp_dept {
                        background-color: #ccc;
                        width: 25%;
                        text-align: center;
                    }
                    .dp_value {
                        text-align: center;
                        border-bottom: 0.1px solid #ccc;
                    }
                }
            }
        }
    }
}
.playerEventsArea {
    width: 100%;
    table.MuiTable-root {
        border-spacing: 1px;
        border-collapse: separate;
        width: 100%;
        height: auto;
        .peTh {
            background-color: #ccc;
            th {
                text-align: center;
                &.pe_date {
                    width: 16%;
                }
                &.pe_dept {
                    width: 10%;
                }
            }
        }
        .peTb {
            width: 100%;
            height: auto;
            tr {
                height: 40px;
                border-bottom: 1px solid #ccc;
                .MuiTableCell-root {
                    height: 40px;
                    &:first-child{
                        .e_date {
                            display: flex;
                            align-items: center;
                            padding: 0 10px;
                            span {
                                display: block;
                                text-align: right;
                                &.e_year { width: 40%; }
                                &.e_month { width: 30%; }
                                &.e_day { width: 30%; }
                            }
                        }
                    }
                    &.pe_dept {
                        font-weight: bold;
                        text-align: center;
                    }
                    &:last-child {
                        padding: 0 10px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}